* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #b4b2fa;
    margin-bottom: 20px;
}

main {
    display: flex;
    height: 400px;
    justify-content: space-between;
    background-color: rgb(252, 253, 199);
}

.column {
    background-color: #e2bfeb;
    padding: 20px;
    margin: 10px;
    flex: 1;
    border: 1px solid #ccc;
}

.column h2 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #ffa8a8;
    margin-top: 20px;
}