body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#homepara{
    font-family: sans-serif;
    background-color: transparent;
    /* font-style: italic; */
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
#headpara{
    color: #000000;
}


header {
    background-color: #333;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

#home {
    background-image: url('noob3.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    /* opacity: 0.9; */
    text-align: left;
    padding: 10rem 2rem;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

section img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

form button {
    padding: 0.7rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: calc(33.333% - 1rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 1rem;
}

.card-content h3 {
    margin-top: 0;
}

.card-content p {
    margin: 0.5rem 0 0;
}
